<mat-toolbar class="header">
    <img src="img/EmeraldStay_Logotype_Horiz_Green_RGB.svg" class="logo">
    <div class="header-text-group">
        <span class="header-text">PROPERTIES</span>
        <span class="header-text">DESTINATIONS</span>
        <span class="header-text">HOMEOWNERS</span>
        <span class="header-text">INFINITY EDITION</span>
        <span class="header-text">ABOUT US</span>
    </div>
    <span class="icon-spacer"></span>
    <button mat-icon-button class="language-icon language-icon" aria-label="icon-button with language icon">
      <mat-icon>language</mat-icon>
    </button>
    <button mat-icon-button class="search-icon" aria-label="icon-button with search icon">
      <mat-icon>search</mat-icon>
    </button>
  </mat-toolbar>