  <div class="form-container">
    <mat-card class="card">

        <mat-card-header class="title">
          <mat-card-title class="text">Simulateur de rendement net de propriété immobilière</mat-card-title>
        </mat-card-header>

        <!-- Formulaire pour la saisie des données utilisateur -->
        <form [formGroup]="simulateurForm" (submit)="submitForm()">

        <!-- Section de saisie visible uniquement lorsque les résultats ne sont pas encore calculés -->
        <mat-card-content class="content" *ngIf="!resultats[0]">
          <mat-form-field class="prix-achat">
            <mat-label class="label" for="prix-achat">Quel est le prix d'achat de votre bien immobilier ?</mat-label>
            <input matInput id="prix-achat" type="number" formControlName="prixAchat">
            <mat-icon matSuffix>euro_symbol</mat-icon>
          </mat-form-field>          
        
          <mat-form-field class="loyer-mensuel">
              <mat-label class="label" for="loyer-mensuel">Quel est le loyer mensuel ?</mat-label>
              <input matInput id="loyer-mensuel" type="number" formControlName="loyerMensuel">
              <mat-icon matSuffix>euro_symbol</mat-icon>
          </mat-form-field>

          <div class="space"></div>

          <mat-form-field class="charges-locatives-annuelles">
              <mat-label class="label" for="charges-locatives-annuelles">Quelles sont les charges locatives ?</mat-label>
              <input matInput id="charges-locatives-annuelles" type="number" formControlName="chargesLocativesAnnuelles">
              <mat-icon matSuffix>euro_symbol</mat-icon>
          </mat-form-field>
        </mat-card-content>

        <!-- Section des résultats : s'affiche une fois les calculs terminés -->
        <mat-card-content class="content-resultat" *ngIf="resultats[0]">
          <h2>Résultats</h2>
          <!-- Utitlisation de la pipe number qui permet de formater les nombres directement dans le html -->
          <!-- number:'1.0-2' : 1 Minimum d'entiers avant la virgule, 0 Minimum de chiffres après la virgule, 2 Maximum de chiffres après la virgule -->
          <div>
            <p> La premiere année le revenu net mensuel de votre bien sera de {{ resultats[0][0] | number:'1.0-2' }} € et son rendement sera de {{ resultats[0][1] | number:'1.0-2' }} %</p>
            <mat-divider></mat-divider>
            <p> La deuxième année le revenu net mensuel de votre bien sera de {{ resultats[1][0] | number:'1.0-2' }} € et son rendement sera de {{ resultats[1][1] | number:'1.0-2' }} %</p>
            <mat-divider></mat-divider>
            <p> La troisième année le revenu net mensuel de votre bien sera de {{ resultats[2][0] | number:'1.0-2' }} € et son rendement sera de {{ resultats[2][1] | number:'1.0-2' }} %</p>
          </div>
        </mat-card-content>

        <!-- Message d'erreur : affiché si des champs obligatoires ne sont pas remplis -->
        <div class="error-message" *ngIf="(simulateurForm.get('prixAchat')?.invalid && simulateurForm.get('prixAchat')?.touched)||(simulateurForm.get('loyerMensuel')?.invalid && simulateurForm.get('loyerMensuel')?.touched)||(simulateurForm.get('chargesLocativesAnnuelles')?.invalid && simulateurForm.get('chargesLocativesAnnuelles')?.touched)">
          Veuillez remplir tout les champs.
        </div>

        <!-- Bouton désactivé si le formulaire est invalide -->
        <mat-card-actions class="card-actions" *ngIf="!resultats[0]">
            <button mat-flat-button type="submit" class="button" [disabled]="simulateurForm.invalid">Lancer la simulation</button>
        </mat-card-actions>
        
        </form>
    </mat-card>
    
    
</div>
